@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f9; /* Ghost White */
    --foreground: #25283d; /* Dark spring green */
    --card: #f4f4f9; /* Ghost White */
    --card-foreground: #04724d; /* Dark spring green */
    --popover: #f4f4f9; /* Ghost White */
    --popover-foreground: #04724d; /* Dark spring green */

    --primary: #b8dbd9; /* Light blue */
    --primary-foreground: #586f7c; /* Payne's gray */

    --secondary: #04724d; /* Dark spring green */
    --secondary-foreground: #f4f4f9; /* Ghost White */

    --muted: #b8dbd9; /* Light blue */
    --muted-foreground: #586f7c; /* Payne's gray */

    --accent: #586f7c; /* Payne's gray */
    --accent-foreground: #f4f4f9; /* Ghost White */

    --destructive: #ff0000; /* Red */
    --destructive-foreground: #ffffff; /* White */

    --border: #b8dbd9; /* Light blue */
    --input: #b8dbd9; /* Light blue */
    --ring: #586f7c; /* Payne's gray */

    --radius: 0.5rem;
  }

  .dark {
    --background: #586f7c; /* Payne's gray */
    --foreground: #f4f4f9; /* Ghost White */

    --card: #455e6b; /* Darker variant */
    --card-foreground: #f4f4f9;

    --popover: #455e6b;
    --popover-foreground: #f4f4f9;

    --primary: #04724d; /* Dark spring green */
    --primary-foreground: #f4f4f9;

    --secondary: #b8dbd9; /* Light blue */
    --secondary-foreground: #586f7c;

    --muted: #455e6b; /* Dark muted gray */
    --muted-foreground: #b8dbd9;

    --accent: #f4f4f9; /* Ghost White */
    --accent-foreground: #586f7c;

    --destructive: #b40000; /* Darker red */
    --destructive-foreground: #ffffff;

    --border: #455e6b;
    --input: #455e6b;
    --ring: #b8dbd9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
